<h1>Admin - Show Ticket</h1>
<% if (typeof user != 'undefined') { %>
	Title:
	<%= ticket.title %> <br>
	Content:
	<%= ticket.content %> <br>
	Date:
	<%= ticket.date %> <br>
	<h1>Answers</h1>
	<br>
	<% answers.forEach(function(answer){ %>
		Author: <%= answer.author %><br>
		Content: <%= answer.content %><br>
		Date: <%= answer.date %><br>
		<br>
	<% }) %>

	<br><br>

	<a href='admin_ticket_add_answer?id=<%= ticket._id %>'> Add answer </a>
<% } %>